#mbmcpebul_table {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
}

#mbmcpebul_table li a {
  line-height: 18px;
  font-size: 15px;
  font-family: Arial,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  padding: 16px 9px 9px 47px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

#mbmcpebul_table li div.buttonbg {
  height: 50px;
  width: 124px;
  line-height: 0;
  background-color: transparent;
  border-style: solid;
  border-color: #800421;
  border-width: 0;
  border-radius: 33px;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #870522;
  box-shadow: 0 0 3px 0 #000000;
  border-color: #800421;
}

#mbmcpebul_table {
  padding: 7px;
  border-style: solid;
  border-color: #4B4B4B;
  border-width: 0;
  border-radius: 30px;
  background-color: #B50831;
  box-shadow: 1px 1px 3px -1px #333333;
  background-image: url('wrapper_bg.png');
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, #6A6A6A 0%, #494949 100%);
  background: -webkit-linear-gradient(top, #6A6A6A 0%, #494949 100%);
  background: -ms-linear-gradient(top, #6A6A6A 0%, #494949 100%);
  background: linear-gradient(top, #6A6A6A 0%, #494949 100%);
}

#mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
}

#mbmcpebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #175B90;
  border-width: 0;
  padding: 0;
  background: #870724;
  font-size: 0;
  border-radius: 11px;
}

#mbmcpebul_table ul li a {
  padding: 10px 18px 10px 16px;
  text-align: left;
}

#mbmcpebul_table ul li.separator {
  padding: 10px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #5F8B01;
  font-size: 0px;
}

#mbmcpebul_table ul li {
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

#mbmcpebul_table ul li.first_item {
  border-radius: 11px 11px 0 0;
}

#mbmcpebul_table ul li.last_item {
  border-radius: 0 0 11px 11px;
}


#mbmcpebul_table ul {
  box-shadow: 1px 1px 4px -1px #333333;
}

#mbmcpebul_table .spaced_li {
  margin: 0px 1px 0px 0px;
}

#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
}

#mbmcpebul_table.css_menu li {
  position: relative;
    top: 0px;
    left: 10px;
    width: 120px;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}

#mbmcpebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbmcp_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 22px; 
} 

#mbmcpebul_table li:hover div.gradient50, #mbmcpebul_table li.expanded div.gradient50, #mbmcpebul_table li.active div.gradient50, #mbmcpebul_table li.itemhot div.gradient50 { 
  background-image: url('buttonhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #5B8C00; 
} 

#mbmcpebul_table li:hover div.gradient_button, #mbmcpebul_table li.expanded div.gradient_button, #mbmcpebul_table li.active div.gradient_button, #mbmcpebul_table li.itemhot div.gradient_button { 
  background: -moz-linear-gradient(top, #9CC453 0%, #5B8C00 100%); 
  background: -webkit-linear-gradient(top, #9CC453 0%, #5B8C00 100%); 
  background: -ms-linear-gradient(top, #9CC453 0%, #5B8C00 100%); 
  background: linear-gradient(top, #9CC453 0%, #5B8C00 100%); 
} 

#mbmcpebul_table div.icon_1 { 
  background-image: url(ebab_mbmcp_ico_0.png); 
  background-repeat: no-repeat; 
  background-position: 9px center; 
  height: 100%; 
} 

#mbmcpebul_table div.icon_2 { 
  background-image: url(ebab_mbmcp_ico_1.png); 
  background-repeat: no-repeat; 
  background-position: 9px center; 
  height: 100%; 
} 

#mbmcpebul_table div.icon_3 { 
  background-image: url(ebab_mbmcp_ico_2.png); 
  background-repeat: no-repeat; 
  background-position: 9px center; 
  height: 100%; 
} 


 .stylebutton
      { 
         border-radius: 5px 5px 5px 5px;
          background-color: #D37A27;
       outline:none;
      }

.stylebutton:hover
      {
         border-radius: 5px 5px 5px 5px;
        background-color: #A7601F;
        box-shadow: 2px 2px 4px black;
      } 
.stylebutton:active
      {
        
outline:none;
      } 


.ombreTdMenuDessu
        {
            box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.5) inset;
            border-radius:30px;
        } 
.ombreTdMenu
        {
            box-shadow: 0 5px 10px rgba(0,0,0,1.3);
        } 
.ombreTd
        {
            box-shadow: 0 2px 4px 6px rgba(0,0,0,0.3);
        }    
    